---
const { post, text, index } = Astro.props
const sampleTexts = [
  "This is the first post of my new Astro blog.",
  "After learning some Astro, I couldn't stop! I wrote and imported a small component from memory.",
  "I had some challenges, but asking in the community really helped! The Discord community is friendly and helpful.",
  "This post will show up with my other posts, thanks to `import.meta.glob()`."
];
---

  <div class="max-w-sm p-6 border w-100 flex flex-col bg-gray-100 justify-between border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div>
      <a href={post.url}>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{post.data.icon} {post.data.title}</h5>
      </a>
      <!-- {text && <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{text[index]}</p>} -->
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{sampleTexts[index]}</p>
    </div>
    <div class="flex justify-between items-end">
      <a href={post.url} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
      </a>
      <p class="text-gray-500">{post.data.pubDate.toString().slice(0, 10)}</p>
    </div>
  </div>